body{
    font-size: 1em;
}

table{
    width: 90%;
    margin: auto;
}

.heroImage{
    max-width: 200px;
}

.logo {
    max-width: 400px;
}
.oddrow{
    background-color: dimgrey;
}
.evenrow{
    background-color: lightgray;
}
.tableHeader{
    background-color: #212121;
    color: #fff;
    font-size: 1.2em;
}

#heroText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    color: midnightblue;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: yellow;
    text-shadow: 2px 1px #292929;
}
